:root {
  --primaryFont: 'Roboto', sans-serif;
  --secondaryFont: 'Raleway', sans-serif;

  --activeLinkColor: #2196f3;
  --primaryTextColor: #757575;
  --secondaryTextColor: #212121;
  --whiteTextColor: #ffffff;
}

body {
  font-family: var(--primaryFont);
  letter-spacing: 0.03em;
  color: var(--primaryTextColor);
  background-color: var(--whiteTextColor);
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* +++++++ COMPONENTS +++++++ */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid red;
  background-color: yellow; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid red;
  background-color: teal; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  /* display: inline-block; */
}

.link.active,
.header-link.link:hover,
.header-link.link:focus {
  color: var(--activeLinkColor);
}

.btn:hover,
.btn:focus {
  color: var(--whiteTextColor);
  background-color: var(--activeLinkColor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.suptitle {
  color: var(--secondaryTextColor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.subtitle {
  color: var(--secondaryTextColor);
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-list-icon {
  outline: 2px solid red;
  display: flex;
}

.icon-app-logo {
  display: inline-flex;
  outline: 2px solid green;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  width: 20px;
  height: 20px;
}
